.Todos {
  margin-top: 20px;
  text-align: center;
}
.TodoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.Todo {
  width: 400px;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.Todo button {
  width: 100%;
}
.Footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Footer .container {
  width: 400px;
}